<ion-header>
  <ion-toolbar>
    <ion-title>Post Ad</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <form #form="ngForm" (ngSubmit)="createAd(form)" method="post">


    <ion-item>
      <ion-label position="floating">First Name</ion-label>
      <ion-input ngModel name="fName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Last Name</ion-label>
      <ion-input ngModel name="lName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" ngModel name="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Phone Number</ion-label>
      <ion-input ngModel name="phoneNumber"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Address</ion-label>
      <ion-input [(ngModel)]="autocomplete.input" (ionInput)="UpdateSearchResults()" (ionClear)="ClearAutocomplete()">
      </ion-input>
      <ion-list [hidden]="autocompleteItems.length == 0">
        <ion-item *ngFor="let item of autocompleteItems" tappable (click)="SelectSearchResult(item)">
          {{ item.description }}
        </ion-item>
      </ion-list>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Monthly Rent</ion-label>
      <ion-input ngModel name="mrent"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Advance/Deposit Amount</ion-label>
      <ion-input ngModel name="deposit"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-input ngModel name="description"></ion-input>
    </ion-item>
    <ion-list>
      <ion-item *ngFor="let img of images; index as pos" text-wrap>
        <ion-thumbnail slot="start">
          <ion-img [src]="img.path"></ion-img>
        </ion-thumbnail>
        <ion-label>
          {{ img.name }}
        </ion-label>
        <ion-button slot="end" fill="clear" (click)="startUpload(img)">
          <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>
        </ion-button>
        <ion-button slot="end" fill="clear" (click)="deleteImage(img, pos)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
   
    <ion-toolbar color="primary">
      <ion-button fill="clear" expand="full" color="light" (click)="selectImageSource()">
        <ion-icon slot="start" name="camera"></ion-icon>
        Upload Image</ion-button>
    </ion-toolbar>

    <ion-button type="submit" expand="full" color="danger">PostAd</ion-button>
  </form>

</ion-content>
 
 
